In [5]:
import requests

API_URL = "https://api-inference.huggingface.co/models/sentence-transformers/all-MiniLM-L12-v2"
headers = {"Authorization": "Bearer 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"}

def query(payload):
	response = requests.post(API_URL, headers=headers, json=payload)
	return response.json()


	
output = query({
	"inputs": {
	"source_sentence": "That is a happy person",
	"sentences": [
		"That is a happy dog",
		"That is a very happy person",
		"Today is a sunny day"
	]
},
})

In [6]:
output

[0.7486262917518616, 0.9205622673034668, 0.23271773755550385]

In [16]:
import pandas as pd
df = pd.read_csv("emojis.csv", names=["value","key"], header=None)

In [17]:
df

    value            key
0       🏥       hospital
1       🏦           bank
2       🏧            ATM
3       🏨          hotel
4       🏩     love hotel
..    ...            ...
757     🧼           soap
758     🧽         sponge
759     🧾  bookmark tabs
760     🧿   nazar amulet
761     📝           memo

[762 rows x 2 columns]

In [36]:
	
predictions = query({
	"inputs": {
	"source_sentence": "ambulance",
	"sentences": df["key"].to_list()
},
})
df["predictions"] = predictions
resp = df.loc[df["predictions"].nlargest(5).index.to_list()]["value"]
resp

89     🚑
0      🏥
91     🚓
744    🧯
84     🚌
Name: value, dtype: object